In [15]:
import pandas as pd

In [40]:
results = pd.read_csv('ScoreResults01-0.2.csv',index_col=0)
results

            0.1     0.125  0.15000000000000002  0.17500000000000002       0.2
0.100  0.558444  0.554937             0.556148             0.557351  0.559231
0.125  0.558263  0.556910             0.560872             0.558566  0.558009
0.150  0.556936  0.555896             0.550677             0.555257  0.556595
0.175  0.555782  0.558281             0.558311             0.555079       NaN
0.200  0.557506  0.557229             0.558698             0.557026       NaN