In [1]:
import pandas as pd

In [8]:
task2Results = pd.read_csv("Results/Task2_LambdaMeanLossResults_5Epochs.csv", index_col = 0)
task1Results = pd.read_csv("Results/Task1_LambdaMeanLossResults_5Epochs.csv", index_col = 0)

In [14]:
task1Results

      0.001     0.01      0.1
r1  1.99036  1.95970  1.69193
r2  1.98626  1.95878  1.69105
r3  2.00347  1.97396  1.70321
r4  1.98580  1.95741  1.68818
r5  2.00555  1.98354  1.76225

In [18]:
task1MeanResults = task1Results.mean(axis = 0)

task1MeanResults

0.001    1.994288
0.01     1.966678
0.1      1.707324
dtype: float64

In [15]:
task2Results

      0.001     0.01      0.1
r1  2.97840  2.94573  2.60989
r2  3.01181  2.97444  2.63317
r3  2.98273  2.94717  2.60980
r4  2.99956  2.96329  2.62450
r5  2.98710  2.96090  2.68367

In [17]:
task2MeanResults = task2Results.mean(axis = 0)
task2MeanResults