In [43]:
%matplotlib inline  
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_rcv1
from sklearn.neighbors import NearestNeighbors

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [10]:
def load_ks(path_to_ks):
    ks = pd.read_csv(path_to_ks, names=['k'], dtype=np.int32)
    return ks['k'].tolist()

In [11]:
def check_output(output, y):
    assert type(output) == np.ndarray
    assert output.ndim == 1
    assert output.shape[0] == y.shape[0]

In [12]:
# Adrien Cogny - Assignment 1 for Data Science in the Wild at Cornell Tech
import pandas as pd
import numpy as np

from sklearn.datasets import fetch_rcv1
from sklearn.neighbors import KNeighborsClassifier

def load_labels(pathtoLabels):
    DF = pd.read_csv(pathtoLabels,header=None);
    return DF[0];

def load_training_data():
    dataSet = fetch_rcv1(subset='train')

    return dataSet.data, dataSet.target, dataSet.sample_id

def load_validation_data(validationData):

    # This is taken from the homework FAQ and modified slightly.
    test_data = fetch_rcv1(subset='test')
    ids = pd.read_csv(validationData)
    mask = np.isin(test_data.sample_id, ids)
    validation_data = test_data.data[mask]
    validation_target = test_data.target[mask]
    return validation_data, validation_target, test_data

class CS5304KNNClassifier():

    numNeighbors = 5;

    classifier = None;
    # def __init__(self,):
    #     # Initialization of the knn classifier should be done here
    #     self.classifier = NearestNeighbors(n_neighbors=self.numNeighbors);        
    #     return
    def __init__(self,n_neighbors = None):
        if (type(n_neighbors) == int):
            self.numNeighbors = n_neighbors;
        self.classifier = KNeighborsClassifier(n_neighbors=self.numNeighbors,algorithm='brute');        

    def train(self,fitX, fitY):
        #in the fitX, fitY sparce matrix, the index of the element is in indptr

        fitXIndexElem = fitX.indptr;
        fitYIndexElem = fitY.indptr;

        fitXelemDF = pd.Series(data=fitX.indptr[1:])
        fitYelemDF = pd.Series(data=fitY.indptr[1:])
        # print(fitXelemDF);
        # print(fitYelemDF);


        dataArray = fitX.toarray()
        dataDF = pd.DataFrame(data=dataArray,index=fitXelemDF)
        # print(dataDF)

        targetArray = fitY.toarray()
        targetDF = pd.DataFrame(data=targetArray,index=fitYelemDF)
        # print(targetDF)

        self.classifier.fit(dataDF,targetDF);
        return

    def predict(self,predictX):
        dataArray = predictX.toarray()
        dataDF = pd.DataFrame(data=dataArray)
        return self.classifier.predict(predictX)

    def score(self,data,labels):
        dataArray = data.toarray()
        dataDF = pd.DataFrame(data=dataArray)

        predictArray = labels.toarray()
        labelsDF = pd.DataFrame(data=predictArray)

        return self.classifier.score(dataDF,labelsDF)



class CS5304NBClassifier():

    def __init__(self):
        return

class CS5304KMeansClassifier():

    def __init__(self):
        return

In [13]:
path_to_labels = "labels.txt"
path_to_ids = "validation.txt"
path_to_ks = "ks.txt"
label = 33

In [14]:
ks = load_ks(path_to_ks)
labels = load_labels(path_to_labels)
train_data, train_target, _ = load_training_data()
eval_data, eval_target, _ = load_validation_data(path_to_ids)

In [25]:
print(labels)

0      4
1      5
2      7
3     33
4     59
5     70
6     83
7     95
8     98
9    102
Name: 0, dtype: int64

In [40]:
scoresDF = pd.DataFrame(index=[i for i in range(1,21)],columns=[label for label in labels])
for label in labels:    
    print(labels[label])
    # Grade Ex. 1a
    for k in range(1,21):
        print(k)
        limit = 1000
#         k = 15 # change this
        knn = CS5304KNNClassifier(n_neighbors=k)
        knn.train(train_data[:limit], train_target[:limit][:, label])
        output = knn.predict(eval_data[:limit])
        check_output(output,eval_target[:limit])
    #     print(knn.score(eval_data[:limit],eval_target[:limit][:, label]))
        scoresDF[label][k] = knn.score(eval_data[:limit],eval_target[:limit][:, label])

scoresDF.head()

1

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:61: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

     4      5      7      33     59     70     83     95     98     102
0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1  0.829  0.877  0.899  0.783  0.835  0.849  0.922  0.928  0.931  0.851
2  0.887  0.943  0.917  0.781   0.88  0.851  0.942  0.963  0.955  0.894
3  0.882   0.93  0.921  0.805  0.868  0.873  0.937  0.953  0.958  0.882
4  0.884   0.94  0.914  0.789  0.889  0.879  0.942  0.965  0.957  0.899

In [52]:
scoresDF = scoresDF.drop(0)
scoresDF.head(20)
scoresDF.to_csv('scores_matrix')

In [56]:
scoresDF = scoresDF.drop(0)

In [64]:
scoresDF.max()

4      0.904
5      0.945
7      0.921
33     0.827
59     0.899
70     0.909
83     0.950
95     0.981
98     0.960
102    0.926
dtype: float64

In [72]:
scoresDF.head(20)

      4      5      7      33     59     70     83     95     98     102
1   0.829  0.877  0.899  0.783  0.835  0.849  0.922  0.928  0.931  0.851
2   0.887  0.943  0.917  0.781   0.88  0.851  0.942  0.963  0.955  0.894
3   0.882   0.93  0.921  0.805  0.868  0.873  0.937  0.953  0.958  0.882
4   0.884   0.94  0.914  0.789  0.889  0.879  0.942  0.965  0.957  0.899
5   0.885  0.924  0.918    0.8  0.885  0.896  0.948  0.955  0.955  0.894
6   0.891  0.938  0.916  0.786   0.89  0.885  0.942  0.977  0.957  0.914
7    0.89  0.926  0.917  0.808  0.888  0.901   0.95  0.973  0.957  0.902
8   0.893   0.94  0.912  0.803  0.893  0.897  0.948  0.969  0.949   0.91
9   0.895   0.93  0.913  0.818  0.892  0.908   0.95  0.972  0.956  0.905
10  0.895   0.94  0.911  0.806  0.893  0.903  0.947  0.971  0.956  0.914
11  0.897  0.933  0.913  0.821   0.89  0.905  0.947  0.976   0.96  0.902
12  0.901  0.944  0.912  0.811  0.892  0.901  0.943  0.978  0.959  0.926
13    0.9  0.936  0.913  0.823  0.896  0.909  0.945  0.981  0.957  0.916
14  0.901  0.943  0.909  0.815  0.899    0.9  0.943  0.978  0.954   0.92
15  0.897  0.938  0.911  0.823  0.897  0.905  0.947  0.979  0.957  0.911
16  0.901  0.945  0.909  0.813  0.894  0.894  0.942  0.978  0.953   0.92
17  0.899  0.937   0.91  0.821  0.892  0.903  0.943  0.978  0.956  0.916
18  0.903  0.941   0.91  0.808  0.893  0.895  0.941  0.977  0.949  0.922
19  0.904  0.935  0.911  0.827  0.896  0.906  0.943  0.978  0.952  0.914